<!-- your html code here -->
<div class="container">
<div class="row justify-content-center">
<div class="col-9 justify-content-center">
<p><b>Contact:</b></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper, ipsum ut condimentum luctus, tellus nulla fermentum nisl, sit amet ornare quam est nec ligula.Donec gravida, elit quis pulvinar imperdiet, urna odio posuere tortor, ut luctus nunc felis a odio.</p>
</div>
</div>

<div class="row justify-content-center">
<div class="col-6 justify-content-center">
<form>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-3 col-form-label"><b>Your E-mail</b></label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-3 col-form-label"><b>Your message</b></label>
    <div class="col-sm-9">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>
</div>
</div>
<br>
<br>
</div>