<!-- your html code here -->
<div class="container">
<div class="row justify-content-center">
<div class="col-9 justify-content-center">
<p><b>Portfolio:</b></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper, ipsum ut condimentum luctus, tellus nulla fermentum nisl, sit amet ornare quam est nec ligula.Donec gravida, elit quis pulvinar imperdiet, urna odio posuere tortor, ut luctus nunc felis a odio.</p>
</div>
</div>
<div class="row justify-content-center">
<div class="col-3">
    <div class="card">
      <img src="../assets/img/big-project-image.png" class="card-img-top" alt="portfolioA">
      <div class="card-body">
        <h5 class="card-title">Project name</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
      <img src="../assets/img/big-project-image.png" class="card-img-top" alt="portfolioB">
      <div class="card-body">
        <h5 class="card-title">Project name</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
</div>
    <div class="col-3">
    <div class="card">
      <img src="../assets/img/big-project-image.png" class="card-img-top" alt="PortfolioC">
      <div class="card-body">
        <h5 class="card-title">Project name</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
</div>